<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{app.request.getSchemeAndHttpHost()}}{{ asset('/bundles/prodigeprodige/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{app.request.getSchemeAndHttpHost()}}{{ asset('/bundles/prodigeprodige/bootstrap/css/bootstrap-theme.min.css') }}">

    <!-- fonts -->
    <link rel="stylesheet" href="{{app.request.getSchemeAndHttpHost()}}{{ asset('/bundles/prodigeprodige/font-awesome/css/font-awesome.min.css') }}" type='text/css' >

    <!-- jquery -->
    <script  type="text/javascript" src="{{app.request.getSchemeAndHttpHost()}}{{ asset('/bundles/prodigeprodige/jquery/dist/jquery.min.js') }}"></script> 

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="{{app.request.getSchemeAndHttpHost()}}{{ asset('/bundles/prodigeprodige/bootstrap/js/bootstrap.min.js') }}"></script>
    
    <title>Contrôle Qualité</title>
  </head>
  <style>
  .panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: FontAwesome;  /* essential for enabling glyphicon */
    content: "\f13a";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
    font-size: 1.5em;
  }
  .panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f137";    /* adjust as needed, taken from bootstrap.css */
  }
  </style>
  <body>
    
    <div class="container">
      <h2>Contrôle de conformité</h2>
      <div class="row">
        {% for tableName, tableData in tablesValue %}
          <div class="col-xs-12 col-sm-12 col-md-12" >
            <div class="panel-group" id="accordion-{{tableName}}" role="tablist" aria-multiselectable="true">
              <div class="panel {% if tableData.checkTable and tableData.allColumnOk and tableData.allContraintOk %} panel-success {% elseif  tableData.checkTable == true %} panel-danger {% else %} panel-danger {% endif %}">
                <div class="panel-heading"  id="headingOne-{{tableName}}" >
                 {{ tableName }} 
                  <a  class="accordion-toggle pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-{{tableName}}" aria-expanded="true" aria-controls="collapseOne-{{tableName}}">
                  </a>
                </div>
                <div id="collapseOne-{{tableName}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-{{tableName}}">
                  <div class="panel-body">
                    {% if tableData.checkTable %}
                      {% if tableData.allColumnOk == false %}
                        <h3>Liste des champs</h3>
                        <ul class="list-group">
                        {% for columnName, columnData in tableData.checkColumn %}
                            <li class="list-group-item {% if not columnData.checkName or columnData.checkType == 0 or not columnData.nullableOk %} list-group-item-danger 
                              {% elseif columnData.checkType == 1 %} list-group-item-warning  {% elseif columnData.checkType == 2 %} list-group-item-success {% endif %} ">
                              <strong>{{ columnName }}</strong> 
                            
                              {% if not columnData.checkName  %}
                                - champ absent 
                              {% else %}
                                {% if columnData.checkType == 0  %} - mauvais type
                                {% elseif columnData.checkType == 1  %} - type différent mais compatible {% endif %}

                                {% if     columnData.nullableOk == false and columnData.mustBeNullable == false %} - le champs ne doit pas avoir de contrainte NOT NULL
                                {% elseif columnData.nullableOk == false and columnData.mustBeNullable == true  %} - le champs doit avoir une contrainte NOT NULL 
                                {% endif %}

                              {% endif %}

                            </li>
                        {% endfor %}
                        </ul>
                      {% else %}
                        <p> Toutes les colonnes sont conformes </p>
                      {% endif %}
                      {% if tableData.checkTable and tableData.allContraintOk == false %}
                        <h3>Liste des contraintes</h3>
                        <ul class="list-group">
                        {% for contraintName, contraintData in tableData.contraints %}
                          <li class="list-group-item {% if not contraintData %} list-group-item-danger {% else %} list-group-item-success {% endif %} ">
                            <strong>{{ contraintName }}</strong> 
                                
                            {% if not contraintData  %}
                              - contrainte absent 
                            {% endif %} 
                          </li>
                        {% endfor %}
                        </ul>
                      {% else %}
                        <p> Toutes les contraintes sont conformes </p>
                      {% endif %}
                    {% else %} 
                      table absente
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>