<!DOCTYPE HTML>
<html>
 <head>
    {% block head %}
    <title> {{ title|default('PRODIGE') }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- IE specific : forcing IE9 Document model because ext 3.0 incompatibility with IE10 -->
    <META HTTP-EQUIV="X-UA-Compatible" CONTENT="IE=9"/>
    <!-- ExtJS css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/prodigeprodige/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/prodigeprodige/bootstrap/css/bootstrap-theme.min.css') }}">
    <!-- bootstrap js needs jQuery -->
    <!--<script src="/bootstrap/js/bootstrap.min.js"></script>-->
    {% endblock %}
 </head>
    <body>
        <div class="container">
        {% block content %}
            <div class="well page-header">
                <div style="float:right;"><img src="{{ asset('/bundles/prodigeprodige/images/logo-client.png') }}" style="height:40px" alt="prodige-logo"/></div>
                <h1 class="{% block statusClass %}text-danger{% endblock %}">
                    {% block statusText %}Erreur générique{% endblock %} 
                    <small><em>{{ status_code }} - {{ status_text }}</em></small></h1>
                <h4>{% block statusMessage %}{{ exception.message }}{% endblock %}</h4>
                <p class="text-center">
                    {% if prodige_home_url|default(false) %}
                        <a href="{{ prodige_home_url }}" title="Retourner à la page d'accueil de Prodige" class="btn btn-default" />Accueil</a>
                    {% endif %}
                    <a href="javascript:window.history.back();" title="Retourner à la page précédente" class="btn btn-default" />Retour</a>
                    <a href="javascript:window.close();" title="Fermer cette fenêtre" class="btn btn-default" />Fermer</a>
                </p>
                <p style="border-top:1px solid #dcdcdc;margin:0;">
                    <small>{{ prodige_site_name }} /// {{ prodige_title}} {{ prodige_version }} /// {{ prodige_subtitle }}</small>
                </p>
            </div>
        {% endblock %}
        </div>
    </body>
</html>