{% apply spaceless %}
<style>
    #prodige-user-toolbar {
        font-size: 12px;
        font-family: arial;
        line-height: 14px;
        /*height: 15px;*/
        z-index: 1000001;
        position: fixed;
        top: -20px;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        width: 320px;
        color: #333;
        background: #D0DFE5;
        border: 1px solid #ffffff;
        border-top: none;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        padding: 5px 5px;
        box-shadow: 0px 1px 3px 1px {{ isConnected|default(false) ? 'rgba(34, 139, 34, 0.5)' : 'rgba(128, 128, 128, 0.5)' }};
        webkit-transition: top 1s linear;
        transition: top 0.2s linear;
    }
    #prodige-user-toolbar:hover {
        top: 0;
    }
    #prodige-user-toolbar .prodige-user-toolbar-info {
        text-align: center;
    }
    #prodige-user-toolbar .prodige-user-toolbar-logo {
        float: left;
    }
    #prodige-user-toolbar .prodige-user-toolbar-info-text {
        margin-left: 16px;
    }
    #prodige-user-toolbar .prodige-user-toolbar-logo > div {
        height:12px;
        width:12px;
        margin-top: 2px;
        border-radius: 6px;
        background: {{ isConnected|default(false) ? 'limegreen' : 'lightgrey' }};
        box-shadow: 1px 1px 5px 0px #999999 inset;
    }
</style>
<div id="prodige-user-toolbar">
    <div class="prodige-user-toolbar-info">
        <div class="prodige-user-toolbar-logo"><div title="{{ isConnected|default(false) ? 'Connecté' : 'Non connecté' }}"></div></div>
        <div class="prodige-user-toolbar-info-text" 
             {% if isConnected|default(false) %}title="{{ usr_id|default('') }} - {{ usr_email|default('') }}"{% endif %}>
            {{ isConnected|default(false) ? usr_name|default('') : 'Non connecté' }}
        </div>
    </div>
</div>
{% endapply %}
